In [4]:
#import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
metabolites = pd.read_csv('/Users/renata.m/Desktop/Thesis/Rashidi_Data_2022/SerumMetabolitesNormalizedTable.csv', header=4)
metabolites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Columns: 947 entries, Patient_ID to 100022127
dtypes: float64(945), int64(1), object(1)
memory usage: 1.9+ MB

In [6]:
metadata_df = pd.read_csv('/Users/renata.m/QIIME2/qiime2-final_analysis-silva_abx/fondue-output/metadata_abx_before_after_5d.tsv', sep='\t')
metadata_df = metadata_df[['ID','CDiff_infection', 'Patient_ID', 'SampleDayRelativeToD1Chemo']].drop_duplicates()
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          494 non-null    object
 1   CDiff_infection             494 non-null    bool
 2   Patient_ID                  494 non-null    object
 3   SampleDayRelativeToD1Chemo  494 non-null    float64
dtypes: bool(1), float64(1), object(2)
memory usage: 12.2+ KB

In [7]:
metabolites_CDI = metadata_df.merge(metabolites, on=['Patient_ID', 'SampleDayRelativeToD1Chemo'], how='inner')
metabolites_CDI = metabolites_CDI.drop(columns='SampleDayRelativeToD1Chemo')
CDI_col = metabolites_CDI.pop('CDiff_infection')
metabolites_CDI.insert(1, 'CDiff_infection', CDI_col)
metabolites_CDI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Columns: 948 entries, ID to 100022127
dtypes: bool(1), float64(945), object(2)
memory usage: 954.7+ KB

In [8]:
metabolites_CDI = metabolites_CDI.drop(['Patient_ID'], axis = 1)
metabolites_CDI.head()

,ID,CDiff_infection,35,50,55,62,93,98,111,112,...,100022006,100022007,100022008,100022009,100022013,100022014,100022015,100022041,100022120,100022127
0,SRR11423883,False,1.630912,1.512391,0.906303,0.452497,1.071773,1.376263,1.623946,0.654869,...,0.475081,0.445159,0.245525,0.255630,NaN,0.617261,0.724144,1.818619,1.375525,NaN
1,SRR11423884,False,1.354828,3.625729,1.702767,0.764499,0.712487,1.303198,0.867768,1.002153,...,0.111089,0.094376,0.047704,0.053691,0.572217,NaN,NaN,1.807192,1.996450,0.802657
2,SRR11423887,False,1.660184,1.436413,1.188514,2.417385,1.228527,0.933729,1.369767,1.184343,...,0.082881,0.069820,NaN,0.022317,0.730781,NaN,NaN,0.661250,1.147734,NaN
3,SRR11423914,False,1.275699,NaN,0.354192,0.904631,0.768066,1.331922,NaN,0.749353,...,0.384301,0.396333,0.433998,0.375250,1.325596,0.904183,1.111403,0.447695,0.769163,1.368133
4,SRR11423915,False,0.705444,NaN,0.534308,0.502765,0.942567,1.088418,0.147897,0.838900,...,0.723435,0.673335,0.726721,0.670799,1.137199,0.664414,0.776509,0.359571,0.477981,0.902056

In [9]:
#metabolites_CDI.to_csv('/Users/renata.m/Desktop/Thesis/Rashidi_Data_2022/normalized_samples_matchsampleday.csv')